h1,
h2,
h3,
footer {
    text-align: center;
}

.ellipse-box {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    color: #222;
    border-radius: 10%;
    text-align: center;
    line-height: 1.6;
    font-size: 18px;
}

#list {
    text-align: left;
    padding-left: 40px;
    list-style-position: inside;
    font-weight: bold;
    color: #222;
}

.caption {
    color: #222;
    margin-top: 5px;
    font-style: italic;
}

#link {
    color: #222;
    font-weight: bold;
    transition: all 0.3s ease;
    display: inline-block;
}

#link:hover {
    color: #008f55;
    transform: translateX(15px) scale(1.1);
}

.small-box {
    width: 30%;
    margin: 10px auto;
    padding: 15px;
    color: #222;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.chart1-caption {
    text-align: center;
    color: #222;
    font-size: 16px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}
